@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.navbar {
  width: 100vw;
  height: 50px;
  background-color: beige;
  position: static;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  font-size: large;
  font-weight: bold;
  color: chocolate;
}

.box {
  width: 900px;
  min-height: 400px;
  border: 3px solid;
  border-radius: 15px;
  margin-left: 400px;
  padding: 40px;
}

.para {
  line-height: 2;
  font-size: large;
  margin-left: 40px;
}

.bpara {
  line-height: 2;
  font-size: large;
}
