@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

img {
  width: 100vw;
  height: 50em;
  position: absolute;
}

body {
  background-color: burlywood;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: rgba(252, 221, 198, 0.856);
  position: sticky;
  top: 0;
  z-index: 999;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  font-weight: bold;
  font-size: large;
  color: orangered;
}

.text {
  border: 5px solid orange;
  border-radius: 10px;
  background-color: rgb(238, 206, 164);
  width: 80vw;
  min-height: 400px;
  position: relative;
  padding: 35px;
  margin-top: 50em;
  margin-left: auto;
  margin-right: auto;
}

.para {
  font-size: large;
  line-height: 35px;
}

.sail {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  border: 3px solid orange;
  width: 200px;
  height: 250px;
  border-radius: 15px;
  background-color: rgb(224, 217, 177);
}

.coco {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  position: absolute;
  margin-left: 35px;
  margin-top: 20px;
}

.name {
  font-weight: bold;
  margin-top: 170px;
  margin-left: 35px;
}

.sa {
  margin-left: 75px;
  font-weight: bold;
}

.end {
  width: 100vw;
  height: 400px;
  background-color: rgb(143, 26, 26);
  position: relative;
}

.enjoy {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  margin: 100px;
}

.form {
  position: absolute;
  margin: 200px;
}

.spara {
  font-weight: bold;
  font-size: x-large;
}

.bu {
  font-weight: bold;
  background-color: rgba(230, 28, 28, 0.753);
  padding: 5px;
  border: 1px solid rgb(238, 57, 57);
  font-size: large;
}

.inp {
  font-weight: bold;
  font-size: large;
  background-color: rgba(82, 19, 19, 0.753);
  border: 3px solid rgb(173, 12, 12);
}
