@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

img {
  width: 100vw;
  height: 85vh;
  position: absolute;
}

body {
  background-color: burlywood;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: rgba(194, 129, 82, 0.856);
  position: sticky;
  top: 1px;
}

.link {
  font-weight: bold;
  font-size: large;
  color: orangered;
  display: flex;
}
